
body {
    margin: 0;
    background-color: #e6e6e6;
}


.wrapper {
    text-align: center;
    padding-top: 120px;
}


.card {
    display: inline-block;
    width: 500px;
    background-color: white;
    border: 2px solid #999;
}


.card img {
    width: 100%;
    display: block;
}


.button {
    background: linear-gradient(to right, #f7b500, #4cd137);
    color: white;
    font-size: 18px;
    padding: 18px 0;
}